{% extends 'dash.html' %}


{% block content %}
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Type</th>
      <th scope="col">Price</th>
        <th scope="col">Details</th>
    </tr>
  </thead>
  <tbody>
  {% for i in data %}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{i.Name}}</td>
      <td>{{i.Type}}</td>
      <td>{{i.Price}}</td>
        <td>{{i.Details}}</td>
      <td>
        <form action="{% url 'furniture_delete' i.id %}" method="POST">
          {% csrf_token %}
          <button type="submit">delete</button>

        </form>
      </td>
      <td>
        <a href = "{% url 'furniture_update' i.id %}" class="btn btn-danger">update</a>
      </td>

    </tr>
   {% endfor %}
  </tbody>
</table>
{% endblock %}